:host {
  margin-left: 6px;
  margin-top: 12px;
}

:host.adjustTop {
  margin-top: 56px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button.mat-raised-button {
  margin-right: 12px;
}
