:host {
  margin-right: 6px;
}

.expandable-action-buttons {
  padding-bottom: 20px;
}

.expandable-headers-align .mat-expansion-panel-header-title,
.expandable-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.expandable-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.expandable-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}
